body {
  /* background-color: rgba(40, 90, 61, 0.884); */
  background-color: rgba(235, 227, 210);
  margin: 25px;
  padding: 25px;
}

h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(65, 72, 51);
}

h2 {
  font-family: Sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgba(65, 72, 51);
}

h3 {
  font-family: Sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: rgba(65, 72, 51);
}

p {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: lighter;
  line-height: 0.7cm;
  color: #1c1e1de4;
}

.logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.ca {
  color: rgba(65, 72, 51);
}

.we {
  color: rgba(115, 122, 93);
}

nav {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: rgba(164, 172, 134);
  border-bottom: 1px solid rgba(164, 172, 134);
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin-left: 40px;
}

.nav-menu li a {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgba(65, 72, 51);
}

.nav-menu li a:hover {
  color: rgba(164, 172, 134);
  transition: 0.3s;
}

.navbar {
  justify-content: space-between;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.5s ease-in-out;
  background-color: rgba(65, 72, 51);
}

.hamburger {
  display: none;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.nav-item {
  margin-left: 5rem;
}

.footer {
  font-family: Maj, sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: rgba(33, 31, 31, 0.927);
  text-align: center;
}

/* ******************************* FORSIDE ******************************* */

.container-index {
  display: flex;
  height: 450px;
  text-align: center;
  margin-top: 2%;
}

.box-1 {
  flex: 1;
  margin-top: 69px;
}

.box-2 {
  flex: 1;
  margin-top: 15px;
}

.h1-forside .ca,
.h1-forside .we {
  display: block;
}

.h1-forside {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 70px;
  font-weight: bold;
}

.knap-forside {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
  text-align: center;
}

.knap {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 15px 20px;
  text-decoration: none;
  display: inline-block;
  color: rgba(255, 255, 255, 0.971);
  /* background: rgba(62, 124, 87, 0.884); */
  background-color: rgba(115, 122, 93);
  flex: none;
}

.knap:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: rgb(51, 51, 49);
}

.footer-index {
  font-family: Maj, sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: rgba(33, 31, 31, 0.927);
  text-align: center;
}

.img-forside {
  margin-top: 10%;
  scale: 140%;
}

/* ******************************* PORTFOLIO ******************************* */

.h1-portfolio {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: rgba(65, 72, 51);
}
.container-portfolio {
  display: flex;
  justify-content: space-evenly;
}

.box-portfolio {
  background-color: rgb(211, 215, 197);
  border: 1px solid #090808;
  border-radius: 10px;
  width: 70%;
  margin: 10px;
  padding: 20px;
  text-align: left;
}

.knap-portfolio {
  display: flex;
}

/* ******************************* ABOUT ******************************* */

.container-about {
  display: flex;
  height: 510px;
  margin-top: 3%;
  justify-content: space-between;
}

.box-3 {
  flex: 2;
  height: 300px;
  width: 850px;
  margin-top: 5%;
}

.knap-about {
  display: flex;
  justify-content: left;
  gap: 25px;
  margin-top: 20px;
}

.img-about {
  height: 320px;
  border-radius: 50%;
  margin-left: 40%;
}

.sted-1 {
  margin-bottom: 15%;
}

.box-5 {
  background-color: rgb(211, 215, 197);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #3b3a3a;
  width: 380px;
}

.box-6 {
  background-color: rgb(211, 215, 197);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #3b3a3a;
  width: 380px;
}

.box-7 {
  background-color: rgb(211, 215, 197);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #3b3a3a;
  width: 380px;
}

.ikon {
  width: 32%;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
}

.rowspan2 {
  grid-row: span 2;
  margin: 0 25px;
}

.ordertop {
  order: -2;
}
.ordersecond {
  order: -1;
}
