@media (max-width: 950px) {
  .h1 {
    font-size: 45px;
    margin-bottom: 0;
  }

  .container-portfolio {
    flex-direction: column;
    align-items: center;
  }

  .box-portfolio {
    width: 90%;
  }

  .knap-portfolio {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .container-index {
    flex-direction: column;
  }

  .container-about {
    flex-direction: column;
  }

  .box-4 {
    align-items: center;
  }

  .img-about {
    margin-top: 35%;
    align-items: center;
  }

  .container-about2 {
    margin-top: 115%;
    height: 500px;
  }

  .footer-index {
    margin-top: 64%;
    font-size: 18px;
    text-align: center;
  }
  .footer {
    font-size: 18px;
    text-align: center;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.ordertop {
  order: -2;
}
.ordersecond {
  order: -1;
}

@media (max-width: 600px) {
  .nav-menu {
    position: fixed;
    left: 100%;
    top: 6.5rem;
    flex-direction: column;
    background-color: #f6f9f4;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translate(0, 8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translate(0, -8px) rotate(-45deg);
  }

  main {
    margin: 20px;
  }
}
