.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
}

@media (max-width: 1200px) {
  .box-1 {
    margin-top: 10px;
  }

  .img-forside {
    margin-top: 1%;
    scale: 100%;
  }

  .container-portfolio {
    flex-direction: column;
    align-items: center;
  }

  .box-portfolio {
    width: 90%;
  }

  .knap-portfolio {
    flex-direction: column;
    gap: 10px;
  }
  .container-index {
    flex-direction: column;
  }

  .box-4 {
    align-items: center;
  }

  .h1-forside {
    font-size: 55px;
  }

  .h1-portfolio {
    font-size: 50px;
  }

  .h1-about {
    font-size: 50px;
  }

  .h1-tema {
    font-size: 45px;
  }

  .footer-index {
    margin-top: 90px;
    font-size: 18px;
    text-align: center;
  }

  .footer-portfolio {
    margin-top: 0%;
    font-size: 18px;
    text-align: center;
  }

  .footer-about {
    font-size: 18px;
    text-align: center;
  }

  .grid_1-1 {
    grid-template-columns: 1fr;
  }

  .img-about-container {
    display: flex;
    justify-content: center;
  }

  .img-about {
    margin-top: 5%;
    margin-left: 0%;
  }

  .box-text {
    width: 100%;
    height: 0%;
  }

  .box-indhold {
    flex-direction: column;
    align-items: center;
    height: 1500px;
  }

  .box-uddannelse {
    align-items: center;
    margin-bottom: 6%;
    height: 445px;
    width: 310px;
  }

  .box-erhvervserfaring {
    align-items: center;
    margin-bottom: 6%;
    height: 470px;
    width: 310px;
  }

  .box-kompetencer {
    align-items: center;
    height: 470px;
    width: 310px;
  }

  .kontakt-indhold {
    flex-direction: column;
    width: 310px;
    margin-top: 5%;
  }

  .streg {
    margin-top: 15%;
  }
}

/************************** BURGERMENU ***************************/
@media (max-width: 800px) {
  .nav-menu {
    position: fixed;
    left: 100%;
    top: 6.5rem;
    flex-direction: column;
    background-color: rgb(210, 202, 186);
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translate(0, 8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translate(0, -8px) rotate(-45deg);
  }

  main {
    margin: 20px;
  }
}

/************************** prøve ***************************/

@media (max-width: 800px) {
  .grid-1 {
    display: grid;
    grid-template-columns: 1fr;
  }
}
