@media (max-width: 950px) {
  .box-1 {
    margin-top: 10px;
  }

  .img-forside {
    margin-top: 1%;
    scale: 100%;
  }

  .container-portfolio {
    flex-direction: column;
    align-items: center;
  }

  .box-portfolio {
    width: 90%;
  }

  .knap-portfolio {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .container-index {
    flex-direction: column;
  }

  .container-about {
    flex-direction: column;
  }

  .box-4 {
    align-items: center;
  }

  .img-about {
    margin-top: 35%;
    align-items: center;
  }

  .footer-index {
    margin-top: 25%;
    font-size: 18px;
    text-align: center;
  }
  .footer {
    font-size: 18px;
    text-align: center;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .h1-forside {
    font-size: 55px;
  }
  .h1-portfolio {
    font-size: 50px;
  }
  .h1-about {
    font-size: 50px;
  }
  .container-about {
    flex-direction: column;
    align-items: center;
  }
  .box-5 {
    align-items: center;
    margin-bottom: 20px;
    height: 470px;
  }
  .box-6 {
    align-items: center;
    margin-bottom: 20px;
    height: 450px;
  }
  .box-7 {
    align-items: center;
    margin-bottom: 20px;
    height: 470px;
  }
}

/************************** BURGERMENU ***************************/
@media (max-width: 800px) {
  .nav-menu {
    position: fixed;
    left: 100%;
    top: 6.5rem;
    flex-direction: column;
    background-color: rgb(210, 202, 186);
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translate(0, 8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translate(0, -8px) rotate(-45deg);
  }

  main {
    margin: 20px;
  }
}
